ApplicationSharedMemory/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Encadreur">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Personne">
        <xs:sequence>
          <xs:element minOccurs="0" name="Specialite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Encadreur" nillable="true" type="tns:Encadreur" />
  <xs:complexType name="Personne">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPersonne" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personne" nillable="true" type="tns:Personne" />
  <xs:complexType name="ArrayOfEncadreur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Encadreur" nillable="true" type="tns:Encadreur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEncadreur" nillable="true" type="tns:ArrayOfEncadreur" />
  <xs:complexType name="ArrayOfListItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItems" nillable="true" type="tns:ListItems" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItems" nillable="true" type="tns:ArrayOfListItems" />
  <xs:complexType name="ListItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListItems" nillable="true" type="tns:ListItems" />
  <xs:complexType name="Memoire">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEncadreur" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMemoire" type="xs:int" />
      <xs:element minOccurs="0" name="Sujet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="encadreur" nillable="true" type="tns:Encadreur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Memoire" nillable="true" type="tns:Memoire" />
  <xs:complexType name="ArrayOfMemoire">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Memoire" nillable="true" type="tns:Memoire" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoire" nillable="true" type="tns:ArrayOfMemoire" />
  <xs:complexType name="ArrayOfMemoireViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemoireViewModel" nillable="true" type="tns:MemoireViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemoireViewModel" nillable="true" type="tns:ArrayOfMemoireViewModel" />
  <xs:complexType name="MemoireViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Annee" type="xs:int" />
      <xs:element minOccurs="0" name="Encadreur" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEncadreur" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdMemoire" type="xs:int" />
      <xs:element minOccurs="0" name="Sujet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemoireViewModel" nillable="true" type="tns:MemoireViewModel" />
</xs:schema>