ApplicationSharedMemory/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55445/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MetierSharedMemory" />
  <xs:import schemaLocation="http://localhost:55445/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MetierSharedMemory" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MetierSharedMemory" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutEncadreur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="encadreur" nillable="true" type="q3:Encadreur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutEncadreurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutEncadreurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encadreurById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="encadreurByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="encadreurByIdResult" nillable="true" type="q4:Encadreur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierEncadreur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="encadreur" nillable="true" type="q5:Encadreur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierEncadreurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierEncadreurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerEncadreur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerEncadreurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupprimerEncadreurResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEncadreur">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEncadreurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="ListEncadreurResult" nillable="true" type="q6:ArrayOfEncadreur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEncadreurs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListEncadreursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="ListEncadreursResult" nillable="true" type="q7:ArrayOfEncadreur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargementComboBox">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargementComboBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="ChargementComboBoxResult" nillable="true" type="q8:ArrayOfListItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="memoire" nillable="true" type="q9:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AjoutMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AjoutMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="memoire" nillable="true" type="q10:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifierMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifierMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerMemoire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerMemoireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupprimerMemoireResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMemoires">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMemoiresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="ListMemoiresResult" nillable="true" type="q11:ArrayOfMemoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoireById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MemoireByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="MemoireByIdResult" nillable="true" type="q12:Memoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMemorieParCh">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMemorieParChResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="ListMemorieParChResult" nillable="true" type="q13:ArrayOfMemoire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoireViewModels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemoireViewModelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MetierSharedMemory.Model" minOccurs="0" name="GetMemoireViewModelsResult" nillable="true" type="q14:ArrayOfMemoireViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>